<form id="chatForm">

    <input type="text" placeholder="example@example.com" />
    <textarea type="text" id="chatBox" placeholder="Escriba su mensaje..." />
 
</form>
    <button type="submit" id="botonEnviar">Enviar</button>

  <div class="containerMensajes">
    
  </div>