<form id="chatForm">
  <h1>Ingrese su consulta</h1>
  <label for="email">Email</label>
  <input id="email" type="text" placeholder="example@example.com" />
  <label for="chatBox">Mensaje</label>

  <textarea
    type="text"
    id="chatBox"
    placeholder="Escriba su mensaje..."
  ></textarea>

  <button type="submit" id="botonEnviar">Enviar</button>
</form>

<div class="containerChat" id="containerChat">
    <h2>Mensajes</h2>
    <div class="containerMensajes" id="containerMensajes">

    </div>
</div>