<div class="contenedorPadre">
  <div class="contenedorTitulo">
    <h1>Bienvenidos a C R U D O</h1>
  </div>

  <h2>Carrito</h2>
  <div id="contenedorCarrito" class="contenedorCarrito">
  </div>

  <div class="contenedorSubTitulo">
    <h2>Nuestros Productos</h2>
  </div>

  <div id="contenedorProductos" class="contenedorProductos">

  </div>
</div>
