

<form class="formLogin" id="formLogin" action="/static/home">
<h1>Hola, ingresa tu email y password</h1>
  <div class="containerEmail">
    <label for="nombre">Email</label>
    <input
      placeholder="florencia@gmail.com" type="text"  required  name="email" id="email" />
  </div>
  <div class="containerPassword">
    <label for="nombre">Password</label>
    <input type="password" required name="password" id="password" />
  </div>
    <div class="botonContainer">
      <button type="submit">Log in</button>
    </div>
</form>