.idForm{
    border: 2px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-bottom: 1rem;
}
.idForm div{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.btn-container{
    margin-top: 1rem;
}
#btn-form{
    padding: .5rem;
    width: 7rem;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
}
#btn-form:hover {
    background-color: gray;
    border: none;
    border: 1px solid white;
    
}